@use '../abstracts/variables' as v;

.character-card {
  animation: fadeInUp;
  animation-duration: 0.5s;
  box-shadow: 15px 10px 15px black;
  filter: grayscale(50%);
  height: clamp(350px, 50vh, 500px);
  transition: 0.2s ease-in-out;
  width: clamp(250px, 40vh, 450px);

  &:hover {
    box-shadow: 20px 10px 15px black;
    cursor: pointer;
    filter: grayscale(0%);
    transform: scale(1.1);
  }
}

.character-img {
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.character-name {
  bottom: 75px;
  color: white;
  font-family: v.$roboto;
  font-size: clamp(10px, 8vw, 40px);
  left: 20px;
  position: relative;
  user-select: none;
}

.small-font {
  font-size: clamp(10px, 10vw, 30px);
}
