@use '../abstracts/variables' as v;

.character-card {
  height: clamp(350px, 50vh, 500px);
  width: clamp(250px, 40vh, 450px);
}

.character-img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.character-name {
  bottom: 75px;
  left: 20px;
  color: white;
  font-family: v.$roboto;
  font-size: clamp(10px, 8vw, 40px);
  position: relative;
}

.small-font {
  font-size: clamp(10px, 10vw, 30px);
}
