@use '../abstracts/variables' as v;
@import '../abstracts/mixins';

.fetch-message-container {
  @include fetch-status-gen-props;
}

.fetch-message-icon {
  font-size: clamp(100px, 30vw, 200px);
}

.icon-green {
  color: darkgreen;
}

.icon-yellow {
  color: yellow;
}
