.character-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-top: 50px;
  padding-bottom: clamp(200px, 10%, 350px);
  row-gap: 45px;
}

@media only screen and (max-width: 1160px) {
  .character-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 780px) {
  .character-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
