@use '../abstracts/variables' as v;

.loading-container {
  margin-top: clamp(20px, 10vh, 30px);
  text-align: center;

  p {
    color: white;
    font-family: v.$roboto;
    font-size: clamp(5px, 10vw, 20px);
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
  }
}
