.modal {
  background-color: white;
  bottom: 40px;
  left: 40px;
  outline: none;
  position: absolute;
  right: 40px;
  top: 40px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
