.modal {
  background-color: white;
  border-radius: 10px;
  bottom: 80px;
  left: 35%;
  outline: none;
  position: absolute;
  right: 35%;
  top: 80px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1200px) {
  .modal {
    left: 8%;
    right: 8%;
  }
}
