@use '../abstracts/variables' as v;

.modal {
  background-color: white;
  border-radius: 10px;
  bottom: 80px;
  left: 25%;
  outline: none;
  padding: 15px;
  position: absolute;
  right: 25%;
  top: 10%;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.modal-name {
  font-family: v.$lato;
  font-size: 3.5rem;
  text-align: center;
}

.modal-close {
  color: lightgray;
  font-size: clamp(30px, 2vw, 40px);
  position: absolute;
  right: 30px;
  top: 20px;

  &:hover {
    color: red;
    cursor: pointer;
  }
}

.modal-character-container {
  display: grid;
  grid-template-areas: 'image attributes';
  margin-top: 20px;
}

.modal-image {
  border-radius: 4px;
  border: 1px solid black;
  grid-area: image;
  height: clamp(150px, 100%, 600px);
  object-fit: cover;
  padding: 15px;
  width: clamp(375px, 100%, 450px);
}

.modal-attributes-container {
  grid-area: attributes;
}

.character-attribute-container {
  margin-bottom: 20px;
  width: 300px;
}

.character-attribute-title {
  font-family: v.$lato;
  font-size: clamp(20px, 2vw, 35px);
  margin-bottom: 5px;
  text-align: center;
}

.character-attribute-value {
  font-family: v.$lato;
  font-size: clamp(15px, 1.8vw, 25px);
  font-weight: lighter;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .modal {
    left: 8%;
    right: 8%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .modal-name {
    font-size: clamp(20px, 5vw, 40px);
  }

  .modal-character-container {
    grid-template-areas:
      'image'
      'attributes';
    justify-content: center;
  }

  .modal-attributes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-image-container {
    text-align: center;
  }

  .modal-image {
    height: clamp(100px, 50vh, 550px);
    width: clamp(150px, 65vw, 450px);
  }

  .character-attribute-title {
    font-size: clamp(20px, 3vw, 45px);
  }

  .character-attribute-value {
    font-size: clamp(20px, 2.5vw, 35px);
  }
}
