@import '../abstracts/mixins';

.brba-logo-full {
  @include show-logo-props(60px, 30px);
  width: clamp(450px, 30vw, 500px);
}

.brba-logo-mobile {
  @include show-logo-props(20px, 10px);
  width: clamp(150px, 18vw, 300px);
  display: none;
}

@media only screen and (max-width: 650px) {
  .brba-logo-full {
    display: none;
  }

  .brba-logo-mobile {
    display: block;
  }
}
