@use '../abstracts/variables.scss' as v;

@mixin main-background-properties($color) {
  height: 100vh;
  width: 100vw;
  transition: 0.2s ease-in-out;
  background-color: $color;
}

.background-light-green {
  @include main-background-properties(
    lighten($color: v.$brba-green, $amount: 13)
  );
}

.background-brba-green {
  @include main-background-properties(v.$brba-green);
}

.background-bcs-red {
  @include main-background-properties(darken($color: v.$bcs-red, $amount: 10));
}

@mixin main-text {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  text-align: center;
}

.title {
  @include main-text;
  padding-top: 15px;
  font-size: 5rem;
}

.subtitle {
  @include main-text;
  font-size: 3rem;
}

.main-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  column-gap: 10%;
}

.main-img {
  border-radius: 50%;
  max-width: 100%;
  height: 48vh;

  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  &:hover ~ .show-title {
    color: lightgrey;
  }
}

.show-title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  margin-top: 50px;
  text-align: center;

  &:hover {
    color: lightgrey;
    cursor: pointer;
  }
}
