@use '../abstracts/variables' as v;
@import '../abstracts/mixins';

body {
  overflow-x: hidden;
}

.background-light-green {
  @include main-screen-background-properties(
    lighten($color: v.$brba-green, $amount: 13)
  );
}

.background-brba-green {
  @include main-screen-background-properties(v.$brba-green);
}

.background-bcs-red {
  @include main-screen-background-properties(
    darken($color: v.$bcs-red, $amount: 18)
  );
}

.title {
  @include main-screen-text-initial-config;
  font-size: clamp(30px, 5vw, 60px);
  padding-top: 15px;
}

.subtitle {
  @include main-screen-text-initial-config;
  font-size: clamp(25px, 3vw, 60px);
  padding-top: 15px;
}

.main-container {
  align-items: center;
  column-gap: 10%;
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.main-img {
  border-radius: 50%;
  box-shadow: 5px 5px 8px black;
  height: clamp(320px, 48vw, 500px);
  max-width: clamp(25%, 100%, 100%);
  object-fit: cover;

  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 10px 10px 10px black;
  }
}

#main-subtitle {
  font-weight: lighter;
}

@media only screen and (max-width: 1083px) {
  .main-container {
    flex-direction: column;
    margin-top: 15px;
    padding-bottom: 25%;
    row-gap: 50px;
  }

  .main-img {
    &:hover {
      transform: scale(1.1);
    }
  }
}
