@use '../abstracts/variables.scss' as v;

@mixin main-background-properties($color) {
  background-color: $color;
  height: 100vh;
  transition: 0.2s ease-in-out;
  width: 100vw;
}

@mixin text-initial-config($f-size) {
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: $f-size;
  font-weight: bolder;
  text-align: center;
}

.background-light-green {
  @include main-background-properties(
    lighten($color: v.$brba-green, $amount: 13)
  );
}

.background-brba-green {
  @include main-background-properties(v.$brba-green);
}

.background-bcs-red {
  @include main-background-properties(darken($color: v.$bcs-red, $amount: 10));
}

.title {
  @include text-initial-config(5rem);
  padding-top: 15px;
}

.subtitle {
  @include text-initial-config(3rem);
  padding-top: 15px;
}

.main-container {
  align-items: center;
  column-gap: 10%;
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.main-img {
  border-radius: 50%;
  height: 48vh;
  max-width: 100%;

  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  &:hover ~ .show-title {
    color: lightgrey;
  }
}
